.navbar-inverse {
  background-color:#3A5795;
  border-color:#080808;
}

 .postedBy{
        padding-right:5px; 
        font-size: 16px;
        margin-top: 7px; 
    }
    .body{
         display: block;
        background-color:#F5F5F5; 
        border:1px solid #E3E3E3;
        box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
        padding: 10px;  
        border-radius:4px;
        font-size: 16px;
    }
    .title{
        display: block;
        background-color:#F5F5F5; 
        border:1px solid #E3E3E3;
        box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
        padding: 5px;  
        border-radius:4px;
        font-size: 23px;
    }

    .block{
        display: block;
       // background-color:#F5F5F5; 
        border:2px solid #3A5795;
        box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
        padding: 10px;  
        border-radius:4px;
        margin:15px;
      
    }

    .navbar-brand{
        margin-left: -0px;
    }
   

    .nav {
    padding-left:30px;
    }

    .editLink{
        margin-top: 5px;

        }